Repository bounswe/bounswe2024group10, pull requests merged in 2024-04, with the labels that each got.

#84 Backend post
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/Blocked.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/Comment.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/Dislike.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/Following.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/GuestUser.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/Like.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/Post.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/RegisteredUser.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/Tag.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/User.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/relationTypes/BlockedID.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/relationTypes/FollowID.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/relationTypes/TagID.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/relationTypes/UserPost.java
Labels: Priority: High, Dependent, Backend

#95 Implement register and log in endpoints.
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/controller/RegisteredUserController.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/model/RegisteredUser.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/repository/RegisteredUserRepository.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/service/LoginService.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/service/RegistrationService.java
Labels: Action Item

#99 Login sign up pages
  .DS_Store
  src/.DS_Store
  src/web/.DS_Store
  src/web/animal-trove/src/App.js
  src/web/animal-trove/src/Assets/email.png
  src/web/animal-trove/src/Assets/icon.png
  src/web/animal-trove/src/Assets/password.png
  src/web/animal-trove/src/Assets/person.png
  src/web/animal-trove/src/pages/LoginSignUp.css
  src/web/animal-trove/src/pages/LoginSignUp.js
Labels: Enhancement, Priority: High, Action Item, Web Development

#105 Branch donomardanzakuduro
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/repository/RegisteredUserRepository.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/service/RegistrationService.java
Labels: Priority: High, Database, Backend

#106 Forgor to import somethings
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/repository/RegisteredUserRepository.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/service/RegistrationService.java
Labels: Bug, Priority: High, Database, Backend

#121 Update SearchService.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/service/SearchService.java
Labels: Priority: High, Backend

#116 Implement search endpoint.
  src/backend/animaltroove/pom.xml
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/controller/SearchController.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/dto/SearchRequest.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/dto/SearchResponse.java
  src/backend/animaltroove/src/main/java/com/bounswe2024group10/animaltroove/service/SearchService.java
Labels: Priority: High, Backend
