Repository bounswe/bounswe2024group10, pull requests merged in 2024-12, with the labels that each got.

#462 Creating asset info component and page
  web/tradeverse/src/components/structure/AssetInfoWidget.js
  web/tradeverse/src/components/structure/navigation.js
  web/tradeverse/src/pages/AssetInfo.js
  web/tradeverse/src/pages/styles/AssetInfo.module.css
Labels: Enhancement, Priority: High, Frontend

#469 Test add asset to portfolio
  backend/src/test/java/service/PortfolioServiceUnitTest.java
Labels: Priority: High, Backend, Test

#470 hot fix unit test
  backend/src/test/java/service/PortfolioServiceUnitTest.java
Labels: Test

#471 Get asset by id endpoint and user profile photo coloumn update
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/AssetController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/User.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/AssetService.java
Labels: Enhancement, Priority: High, Backend

#492 Fix get-portfolio and by-asset endpoints
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/PortfolioController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PortfolioService.java
Labels: Bug, Backend

#493 View count enhancement for posts
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Post.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/PostRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
Labels: Enhancement, Action Item, Backend

#476 Add imageUrl to assets.
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/AssetController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/AddAssetRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/AddAssetResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Asset.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/AssetService.java
Labels: Enhancement, Priority: High, Backend

#506 Add ImageController to serve images.
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/ImageController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/AuthenticationService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/UserService.java
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/structure/feed.js
  web/tradeverse/src/services/api.js
Labels: Enhancement, Priority: High, Web Development, Backend

#510 Get posts by tag endpoint
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/PostController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/PostRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
Labels: Priority: Medium, Action Item, Backend

#514 Endpoint which returns posts created by an user
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/PostController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
Labels: Priority: High, Action Item, Backend

#513 Web/create subforum
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/AuthenticationController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/authentication/LoginResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/AuthenticationService.java
  web/tradeverse/src/auth/AuthWrapper.js
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/structure/navigation.js
  web/tradeverse/src/components/structure/subforumNavbar.js
  web/tradeverse/src/pages/AssetInfo.js
  web/tradeverse/src/pages/CreateSubforum.js
  web/tradeverse/src/pages/styles/CreateSubforum.module.css
  web/tradeverse/src/services/subforum.js
Labels: Enhancement, Priority: High, Action Item, Backend, Frontend

#521 Add TagPage Functionality with Routing and Links
  web/tradeverse/src/components/structure/Post.js
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/structure/comment.js
  web/tradeverse/src/components/structure/navigation.js
  web/tradeverse/src/components/structure/postHeader.js
  web/tradeverse/src/components/styles/post.module.css
  web/tradeverse/src/components/styles/postHeader.module.css
  web/tradeverse/src/pages/Portfolio.js
  web/tradeverse/src/pages/PostPage.js
  web/tradeverse/src/pages/Search.js
  web/tradeverse/src/pages/Subforum.js
  web/tradeverse/src/pages/TagPage.js
  web/tradeverse/src/pages/styles/TagPage.module.css
  web/tradeverse/src/services/post.js
Labels: Enhancement, Priority: High, Action Item, Frontend

#516 Account page error
  web/tradeverse/src/pages/Account.js
  web/tradeverse/src/pages/styles/Account.css
  web/tradeverse/src/pages/styles/User.css
Labels: Frontend

#525 Profile Update Feature
  mobile/tradeverse/package-lock.json
  mobile/tradeverse/screens/account-profile/index.jsx
  mobile/tradeverse/screens/profile/index.jsx
  mobile/tradeverse/screens/welcoming/index.jsx
  mobile/tradeverse/services/_axios.js
  mobile/tradeverse/services/user.js
Labels: Enhancement, Priority: High, Action Item, Frontend, Mobile

#526 Portfolio Screen & Asset Details
  mobile/tradeverse/auth/context/auth-context.jsx
  mobile/tradeverse/components/ui/global-screen.jsx
  mobile/tradeverse/screens/add-asset/_components/AssetSuggestion.jsx
  mobile/tradeverse/screens/add-asset/index.jsx
  mobile/tradeverse/screens/asset-detail/_components/AssetInfoView.jsx
  mobile/tradeverse/screens/asset-detail/_components/ChartView.jsx
  mobile/tradeverse/screens/asset-detail/_components/NewsView.jsx
  mobile/tradeverse/screens/asset-detail/index.jsx
  mobile/tradeverse/screens/portfolio/index.jsx
  mobile/tradeverse/screens/profile/index.jsx
  mobile/tradeverse/services/asset.js
  mobile/tradeverse/services/user.js
Labels: Enhancement, Priority: High, Frontend, Mobile

#530 Enhancement: Tag Detail Screen
  mobile/tradeverse/screens/asset-detail/index.jsx
  mobile/tradeverse/screens/profile/index.jsx
  mobile/tradeverse/screens/tag-detail/index.jsx
  mobile/tradeverse/services/post.js
  mobile/tradeverse/services/user.js
Labels: Enhancement, Priority: High, Frontend, Mobile

#547 Subforum service unit tests
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/SubforumService.java
  backend/src/test/java/com/bounswe2024group10/Tradeverse/TradeverseApplicationTests.java
  backend/src/test/java/service/PortfolioServiceUnitTest.java
  backend/src/test/java/service/PostServiceUnitTest.java
  backend/src/test/java/service/SubforumServiceUnitTest.java
Labels: Priority: Low, Action Item, Backend, Test

#522 User page
  archive/src/mobile/src/package-lock.json
  archive/src/mobile/src/package.json
  archive/src/web/animal-trove/package-lock.json
  archive/src/web/animal-trove/package.json
  web/tradeverse/src/auth/AuthWrapper.js
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/structure/navigation.js
  web/tradeverse/src/components/structure/postHeader.js
  web/tradeverse/src/components/styles/postHeader.module.css
  web/tradeverse/src/pages/Account.js
  web/tradeverse/src/pages/Home.js
  web/tradeverse/src/pages/Search.js
  web/tradeverse/src/pages/User.js
  web/tradeverse/src/pages/styles/Account.css
  web/tradeverse/src/pages/styles/User.css
  web/tradeverse/src/services/account_api.js
  web/tradeverse/src/services/user_api.js
Labels: Frontend

#529 Fix for /api/user/profile
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GetPostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/PostRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/UserService.java
Labels: Priority: Medium, Action Item, Backend, Fix

#565 Project plan for final milestone
  Tradeverse-App Project Plan-3.pod
Labels: Documentation, Wiki
