Repository bounswe/bounswe2024group10, pull requests merged in 2024-10, with the labels that each got.

#246 Initialize Spring Boot project.
  backend/.gitignore
  backend/Dockerfile
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/bounswe2024group10/Tradeverse/TradeverseApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/bounswe2024group10/Tradeverse/TradeverseApplicationTests.java
Labels: Backend

#262 Implement authentication
  backend/pom.xml
  backend/src/main/java/com/bounswe2024group10/Tradeverse/config/SecurityConfig.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/UserController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/LoginRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/LoginResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/RegisterRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/RegisterResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/User.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/UserRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/UserService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/util/JwtUtil.java
  backend/src/main/resources/application.properties
  docker-compose.yml
Labels: Priority: High, Backend

#269 Delete expo boilerplate and build app skeleton
  mobile/tradeverse/.gitignore
  mobile/tradeverse/app/(tabs)/_layout.jsx
  mobile/tradeverse/app/(tabs)/_layout.tsx
  mobile/tradeverse/app/(tabs)/account/_layout.jsx
  mobile/tradeverse/app/(tabs)/account/index.jsx
  mobile/tradeverse/app/(tabs)/create/_layout.jsx
  mobile/tradeverse/app/(tabs)/create/index.jsx
  mobile/tradeverse/app/(tabs)/explore/_layout.jsx
  mobile/tradeverse/app/(tabs)/explore/index.jsx
  mobile/tradeverse/app/(tabs)/home/_layout.jsx
  mobile/tradeverse/app/(tabs)/home/index.jsx
  mobile/tradeverse/app/(tabs)/index.tsx
  mobile/tradeverse/app/(tabs)/portfolio/_layout.jsx
  mobile/tradeverse/app/(tabs)/portfolio/index.jsx
  mobile/tradeverse/app/(tabs)/two.tsx
  mobile/tradeverse/app/+html.tsx
  mobile/tradeverse/app/+not-found.tsx
  mobile/tradeverse/app/[...unmatched].jsx
  mobile/tradeverse/app/_layout.tsx
  mobile/tradeverse/app/modal.tsx
  mobile/tradeverse/assets/fonts/DMSans-Bold.ttf
  mobile/tradeverse/assets/fonts/DMSans-Medium.ttf
  mobile/tradeverse/assets/fonts/DMSans-Regular.ttf
  mobile/tradeverse/assets/fonts/SpaceMono-Regular.ttf
  mobile/tradeverse/components/EditScreenInfo.tsx
  mobile/tradeverse/components/ExternalLink.tsx
  mobile/tradeverse/components/StyledText.tsx
  mobile/tradeverse/components/Themed.tsx
  mobile/tradeverse/components/__tests__/StyledText-test.js
  mobile/tradeverse/components/useClientOnlyValue.ts
  mobile/tradeverse/components/useClientOnlyValue.web.ts
  mobile/tradeverse/components/useColorScheme.ts
  mobile/tradeverse/components/useColorScheme.web.ts
  mobile/tradeverse/config/navigation.js
  mobile/tradeverse/config/screen-paths.js
  mobile/tradeverse/constants/Colors.ts
  mobile/tradeverse/constants/theme.jsx
  mobile/tradeverse/package-lock.json
  mobile/tradeverse/package.json
  mobile/tradeverse/tsconfig.json
Labels: Priority: High, Action Item, Mobile

#288 Mobile/feature/account page
  mobile/tradeverse/app/(tabs)/account/index.jsx
  mobile/tradeverse/assets/images/profile.png
  mobile/tradeverse/components/images/profile-image.jsx
  mobile/tradeverse/components/ui/full-scroll-view.jsx
  mobile/tradeverse/components/ui/global-screen.jsx
  mobile/tradeverse/components/ui/padded-container.jsx
  mobile/tradeverse/constants/images.jsx
  mobile/tradeverse/constants/theme.jsx
  mobile/tradeverse/mock/user-profile.js
  mobile/tradeverse/screens/account-root/_components/account-option.jsx
  mobile/tradeverse/screens/account-root/_components/top-profile-info.jsx
  mobile/tradeverse/screens/account-root/index.jsx
  mobile/tradeverse/screens/account-root/profile-config.js
Labels: Action Item, Mobile

#293 Mobile/feature/home screen
  mobile/tradeverse/app/(tabs)/home/index.jsx
  mobile/tradeverse/components/images/profile-image.jsx
  mobile/tradeverse/constants/theme.jsx
  mobile/tradeverse/mock/home.js
  mobile/tradeverse/screens/home-root/_components/post-card.jsx
  mobile/tradeverse/screens/home-root/_components/tabs.jsx
  mobile/tradeverse/screens/home-root/index.jsx
  mobile/tradeverse/screens/home-root/views/followed-people-view.jsx
  mobile/tradeverse/screens/home-root/views/followed-topics-view.jsx
  mobile/tradeverse/screens/home-root/views/for-you-view.jsx
Labels: Priority: High, Mobile

#295 Mobile/feature/search results screen
  mobile/tradeverse/assets/images/no-content.png
  mobile/tradeverse/components/images/content-image.jsx
  mobile/tradeverse/constants/images.jsx
  mobile/tradeverse/mock/explore-search-results.js
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/asset-result.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/post-result.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/sub-forum-result.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/tag-result.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/user-result.jsx
  mobile/tradeverse/screens/explore-search-results/_components/search-bar.jsx
  mobile/tradeverse/screens/explore-search-results/_components/tabs.jsx
  mobile/tradeverse/screens/explore-search-results/index.jsx
  mobile/tradeverse/screens/explore-search-results/views/popular-view.jsx
  mobile/tradeverse/screens/explore-search-results/views/posts-view.jsx
  mobile/tradeverse/screens/explore-search-results/views/subforums-view.jsx
  mobile/tradeverse/screens/explore-search-results/views/tags-view.jsx
  mobile/tradeverse/screens/explore-search-results/views/users-view.jsx
  mobile/tradeverse/util/format-number.js
Labels: Priority: High, Action Item, Mobile

#296 feat: Add Asset Results View into search results screen
  .gitignore
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/asset-result.jsx
  mobile/tradeverse/screens/explore-search-results/index.jsx
  mobile/tradeverse/screens/explore-search-results/views/asset-view.jsx
Labels: Priority: High, Action Item, Mobile

#297 Mobile/feature/create screen
  mobile/tradeverse/app/(tabs)/create/index.jsx
  mobile/tradeverse/screens/create-root/index.jsx
Labels: Priority: High, Action Item, Mobile

#298 Create Login Screen and Register Screen
  mobile/tradeverse/screens/auth/login.jsx
  mobile/tradeverse/screens/auth/register.jsx
Labels: Priority: High, Action Item, Mobile

#299 Add welcoming screen views
  mobile/tradeverse/app/(tabs)/create/index.jsx
  mobile/tradeverse/components/buttons/main-button.jsx
  mobile/tradeverse/components/images/profile-image.jsx
  mobile/tradeverse/package-lock.json
  mobile/tradeverse/package.json
  mobile/tradeverse/screens/welcoming/index.jsx
Labels: Priority: High, Action Item, Mobile

#300 hotfix: Fixed misreplacement of welcoming screen
  mobile/tradeverse/app/(tabs)/create/index.jsx
Labels: Priority: High, Action Item, Mobile, Fix

#301 Create Add Asset Screen
  mobile/tradeverse/screens/add-asset/index.jsx
Labels: Priority: High, Action Item, Mobile

#302 Create Asset Detail Screen
  mobile/tradeverse/screens/asset-detail/index.jsx
Labels: Priority: High, Action Item, Mobile

#309 feat: Create Profile Settings Screen
  mobile/tradeverse/app/(tabs)/account/profile.jsx
  mobile/tradeverse/components/inputs/RHFTextArea.jsx
  mobile/tradeverse/components/inputs/RHFTextField.jsx
  mobile/tradeverse/components/inputs/TextField.jsx
  mobile/tradeverse/components/inputs/TextField.style.js
  mobile/tradeverse/config/screen-paths.js
  mobile/tradeverse/mock/user-profile.js
  mobile/tradeverse/package-lock.json
  mobile/tradeverse/package.json
  mobile/tradeverse/screens/account-profile/index.jsx
  mobile/tradeverse/screens/account-root/_components/top-profile-info.jsx
  mobile/tradeverse/screens/welcoming/index.jsx
Labels: Priority: High, Action Item, Mobile

#310 Create Profile Screen
  mobile/tradeverse/screens/profile/index.jsx
Labels: Priority: High, Action Item, Mobile

#311 Text out of Text component error, Missing Global Screen component
  mobile/tradeverse/app/(tabs)/create/index.jsx
  mobile/tradeverse/screens/profile/index.jsx
Labels: Priority: High, Action Item, Fix

#312 Create Followed Tags Screen
  mobile/tradeverse/screens/followed-tags/index.jsx
Labels: Priority: High, Action Item, Mobile

#316 feat: Create Post Creation screen
  mobile/tradeverse/screens/create-post/index.jsx
Labels: Priority: High, Action Item, Mobile

#318 Mobile/feature/create subforum screen
  mobile/tradeverse/screens/create-root/index.jsx
  mobile/tradeverse/screens/create-subforum/index.jsx
Labels: Priority: High, Action Item, Mobile

#319 feat: Create Subforum Detail Screen
  mobile/tradeverse/screens/subforum-detail/index.jsx
Labels: Priority: High, Action Item, Mobile

#326 Add mobile setup instructions to README
  README.md
Labels: Documentation

#327 Respond with token and username on register
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/RegisterResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/UserService.java
Labels: Priority: High, Backend

#330 feat: Mobile Authentication applied.
  mobile/tradeverse/app/(tabs)/_layout.jsx
  mobile/tradeverse/app/(tabs)/home/index.jsx
  mobile/tradeverse/app/_layout.jsx
  mobile/tradeverse/app/auth.jsx
  mobile/tradeverse/auth/context/auth-context.jsx
  mobile/tradeverse/auth/context/auth-guard.jsx
  mobile/tradeverse/auth/context/auth-provider.jsx
  mobile/tradeverse/auth/context/index.jsx
  mobile/tradeverse/auth/screens/login/index.jsx
  mobile/tradeverse/auth/ui/AuthLoader.js
  mobile/tradeverse/package-lock.json
  mobile/tradeverse/package.json
  mobile/tradeverse/screens/account-profile/index.jsx
  mobile/tradeverse/screens/account-root/_components/top-profile-info.jsx
  mobile/tradeverse/screens/account-root/index.jsx
  mobile/tradeverse/screens/create-post/index.jsx
  mobile/tradeverse/screens/create-subforum/index.jsx
  mobile/tradeverse/screens/home-root/index.jsx
  mobile/tradeverse/screens/profile/index.jsx
  mobile/tradeverse/services/_axios.js
  mobile/tradeverse/services/auth.js
  mobile/tradeverse/services/user.js
  mobile/tradeverse/tsconfig.json
Labels: Priority: High, Action Item, Mobile

#332 fix: Fix the false navigation in some user links.
  mobile/tradeverse/screens/explore-root/_components/post-card.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/user-result.jsx
  mobile/tradeverse/screens/post-detail/_components/post-header.jsx
Labels: Bug, Priority: High, Action Item, Mobile, Fix

#333 Implement follow
  backend/src/main/java/com/bounswe2024group10/Tradeverse/config/SecurityConfig.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/FollowController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/FollowUserRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/FollowUserResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/GetFollowersRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/GetFollowersResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/GetFollowingsRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/GetFollowingsResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/UnfollowUserRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/follow/UnfollowUserResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Follow.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/FollowRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/FollowService.java
Labels: Enhancement, Priority: Medium, Backend

#334 feat: Create Splash screen
  mobile/tradeverse/app/_layout.jsx
  mobile/tradeverse/app/splash.jsx
  mobile/tradeverse/auth/context/auth-provider.jsx
  mobile/tradeverse/screens/welcoming/index.jsx
Labels: Priority: High, Action Item, Mobile

#346 env: Upload eas.js file
  mobile/tradeverse/eas.json
Labels: Priority: Medium, Action Item, Environment Setup, Mobile

#347 refactor: Refactor Auth Logic and UI
  mobile/tradeverse/app.json
  mobile/tradeverse/auth/context/auth-provider.jsx
  mobile/tradeverse/components/ui/global-screen.jsx
  mobile/tradeverse/mock-data/all-tags.js
  mobile/tradeverse/mock-services/assets.js
  mobile/tradeverse/screens/explore-search-results/index.jsx
  mobile/tradeverse/screens/portfolio/index.jsx
  mobile/tradeverse/screens/post-detail/index.jsx
Labels: Priority: Medium, Action Item, Mobile

#348 Mobile/feature/custom tabbar
  mobile/tradeverse/app/(tabs)/_layout.jsx
  mobile/tradeverse/auth/context/auth-provider.jsx
  mobile/tradeverse/components/ui/tabbar/index.jsx
  mobile/tradeverse/components/ui/tabbar/tabbar-button.jsx
  mobile/tradeverse/config/navigation.js
  mobile/tradeverse/screens/account-root/_components/top-profile-info.jsx
  mobile/tradeverse/screens/asset-detail/index.jsx
  mobile/tradeverse/screens/subforum-detail/index.jsx
  mobile/tradeverse/services/user.js
Labels: Priority: Low, Action Item, Mobile
