Repository bounswe/bounswe2024group10, pull requests merged in 2024-11, with the labels that each got.

#358 Backend like
  backend/reports/m1_group10.md
  backend/src/main/java/com/bounswe2024group10/Tradeverse/config/SecurityConfig.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/DislikeController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/LikeController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/dislike/DislikePostRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/dislike/DislikePostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/dislike/UndislikePostRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/dislike/UndislikePostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/GetLikedPostsRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/GetLikedPostsResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/GetLikersRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/GetLikersResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/LikePostRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/LikePostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/UnlikePostRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/like/UnlikePostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Dislike.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Like.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/DislikeRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/LikeRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/DislikeService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/LikeService.java
Labels: Priority: High, Action Item, Backend

#376 Search functionality & mock data improvements
  web/tradeverse/public/logo_new.png
  web/tradeverse/src/App.css
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/structure/navigation.js
  web/tradeverse/src/components/styles/feed.css
  web/tradeverse/src/components/styles/style.css
  web/tradeverse/src/data/mockData.js
  web/tradeverse/src/pages/Search.js
  web/tradeverse/src/pages/styles/Login.css
  web/tradeverse/src/pages/styles/Search.css
Labels: Priority: High, Web Development, Frontend

#350 Backend user detail endpoints
  backend/src/main/java/com/bounswe2024group10/Tradeverse/config/SecurityConfig.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/AuthenticationController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/UserController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/GetUserDetailsRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/SetUserDetailsRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/AuthenticationService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/UserService.java
Labels: Backend

#384 fix: Modify auth logic according to new endpoints
  archive/src/mobile/src/pages/CreatePostScreen.js
  archive/src/mobile/src/pages/LoginScreen.js
  mobile/tradeverse/.eslintrc
  mobile/tradeverse/app/_layout.jsx
  mobile/tradeverse/auth/context/auth-provider.jsx
  mobile/tradeverse/auth/screens/login/index.jsx
  mobile/tradeverse/components/ui/tabbar/index.jsx
  mobile/tradeverse/mock-services/home.js
  mobile/tradeverse/screens/auth/login.jsx
  mobile/tradeverse/screens/auth/register.jsx
  mobile/tradeverse/screens/home-root/index.jsx
  mobile/tradeverse/screens/welcoming/index.jsx
  mobile/tradeverse/services/auth.js
  mobile/tradeverse/services/user.js
Labels: Priority: Medium, Action Item, Mobile

#385 Backend post
  backend/pom.xml
  backend/src/main/java/com/bounswe2024group10/Tradeverse/config/SecurityConfig.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/PostController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreateCommentRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreateCommentResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreateForumRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreateForumResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreatePostRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreatePostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreateSubforumRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/CreateSubforumResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/EditCommentRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/EditCommentResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/EditForumRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/EditForumResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/EditPostRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/EditPostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GeneralDeleteRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GeneralDeleteResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GeneralGetRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GeneralGetResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GeneralGetWLikesResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GetForumsResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GetPostRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GetPostResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/GetPostWLikesResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/SearchAndListPostsRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/SearchAndListPostsResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/extra/PostType.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Post.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/DislikeRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/LikeRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/PostRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/util/JwtUtil.java
  backend/src/main/resources/application.properties
Labels: Priority: High, Action Item, Backend

#387 create portfolio table and repository class
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Portfolio.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/PortfolioRepository.java
Labels: Backend

#396 feature: Create Post
  .DS_Store
  .gitignore
  mobile/tradeverse/.eslintrc
  mobile/tradeverse/app/_layout.jsx
  mobile/tradeverse/auth/context/auth-guard.jsx
  mobile/tradeverse/auth/context/auth-provider.jsx
  mobile/tradeverse/components/inputs/AutoSuggestInput.jsx
  mobile/tradeverse/components/ui/Toast.jsx
  mobile/tradeverse/components/ui/tabbar/index.jsx
  mobile/tradeverse/components/ui/tabbar/tabbar-button.jsx
  mobile/tradeverse/config/navigation.jsx
  mobile/tradeverse/package-lock.json
  mobile/tradeverse/package.json
  mobile/tradeverse/reduxStore/store.js
  mobile/tradeverse/reduxStore/ui-slice.js
  mobile/tradeverse/screens/create-post/index.jsx
  mobile/tradeverse/services/auth.js
  mobile/tradeverse/services/post.js
  mobile/tradeverse/services/subforum.js
  mobile/tradeverse/services/user.js
Labels: Priority: High, Action Item, Mobile

#386 Implement YahooFinance endpoints.
  backend/src/main/java/com/bounswe2024group10/Tradeverse/config/SecurityConfig.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/AssetController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/ChartData.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/GetAssetChartRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/GetAssetChartResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/GetAssetDetailsRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/GetAssetDetailsResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/asset/YahooFinanceChartResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/AssetService.java
Labels: Enhancement, Priority: High, Action Item, Backend

#402 Web/assets/chart component and asset datas
  web/tradeverse/src/components/structure/NewsWidget.js
  web/tradeverse/src/components/structure/TradingViewWidget.js
  web/tradeverse/src/data/assets.js
Labels: Priority: High, Frontend

#390 Origin/backend/feature/portfolio api
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/PortfolioController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/portfolio/CreatePortfolioRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/portfolio/CreatePortfolioResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/portfolio/GetAllPortfoliosRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/portfolio/GetAllPortfoliosResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/portfolio/PortfolioDto.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/portfolio/UpdatePortfolioRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/portfolio/UpdatePortfolioResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/Portfolio.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/PortfolioRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PortfolioService.java
  backend/src/main/resources/application.properties
Labels: Priority: High, Backend

#412 Cherry pick/feat/like dislike posts
  .gitignore
  mobile/tradeverse/app/(tabs)/create/add-post.jsx
  mobile/tradeverse/auth/context/auth-provider.jsx
  mobile/tradeverse/mock-services/post.js
  mobile/tradeverse/screens/explore-root/_components/post-card.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/post-result.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/sub-forum-result.jsx
  mobile/tradeverse/screens/home-root/_components/post-card.jsx
  mobile/tradeverse/screens/home-root/index.jsx
  mobile/tradeverse/screens/home-root/views/for-you-view.jsx
  mobile/tradeverse/screens/post-detail/_components/post-header.jsx
  mobile/tradeverse/screens/welcoming/index.jsx
  mobile/tradeverse/services/_axios.js
  mobile/tradeverse/services/auth.js
  mobile/tradeverse/services/post.js
  mobile/tradeverse/services/user.js
  mobile/tradeverse/util/storage.js
Labels: Priority: High, Action Item, Mobile

#410 Feed endpoint
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/FollowSubforumController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/controller/PostController.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/followSubforum/GeneralFollowSubforumRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/followSubforum/GeneralFollowSubforumResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/followSubforum/GetFollowingsRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/followSubforum/GetFollowingsResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/FeedRequest.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/dto/post/FeedResponse.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/extra/SubforumWSpecs.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/model/FollowSubforum.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/repository/FollowSubforumRepository.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/FollowSubforumService.java
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
Labels: Priority: High, Action Item, Backend

#418 Web - Create account page, its view, and its access points.
  web/tradeverse/package-lock.json
  web/tradeverse/package.json
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/styles/style.module.css
  web/tradeverse/src/pages/Account.js
  web/tradeverse/src/pages/styles/Account.css
Labels: Web Development

#424 Dropdown menu opening button no longer links to account page.
  web/tradeverse/package-lock.json
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/styles/style.module.css
Labels: Web Development

#427 User Page
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/structure/postHeader.js
  web/tradeverse/src/components/styles/postHeader.module.css
  web/tradeverse/src/pages/User.js
  web/tradeverse/src/pages/styles/User.css
Labels: Web Development

#428 Fix adding comment to DB
  backend/src/main/java/com/bounswe2024group10/Tradeverse/service/PostService.java
Labels: Bug, Priority: High, Backend

#429 feature: Explore Screen real data
  .DS_Store
  archive/src/mobile/src/pages/SearchResults.js
  archive/src/web/animal-trove/src/components/Modals/PostModal.jsx
  mobile/.DS_Store
  mobile/tradeverse/screens/explore-root/_components/post-card.jsx
  mobile/tradeverse/screens/explore-root/index.jsx
  mobile/tradeverse/screens/explore-root/views/popular-view.jsx
  mobile/tradeverse/screens/explore-search-results/_components/result-cards/post-result.jsx
  mobile/tradeverse/screens/explore-search-results/index.jsx
  mobile/tradeverse/services/explore.js
Labels: Priority: High, Action Item, Mobile

#436 Web/search functions
  web/tradeverse/src/components/structure/feed.js
  web/tradeverse/src/pages/Search.js
  web/tradeverse/src/pages/styles/Search.module.css
Labels: Priority: High, Frontend

#440 popular fix
  web/tradeverse/src/pages/Search.js
  web/tradeverse/src/pages/styles/Search.module.css
Labels: Frontend

#446 header-subforums added
  web/tradeverse/src/components/structure/RenderNavigation.js
  web/tradeverse/src/components/structure/subforumNavbar.js
Labels: Priority: High, Frontend

#454 Tradeverse-App Project Plan-2
  Tradeverse-App Project Plan-2.pod
Labels: Priority: High
